body{
    padding-left: 15%;
    padding-right: 15%;
}
h1{
    text-align: center;
}
.picture{
    display: block;
    margin: auto;
    width: 50%;
    height: 60vh;
}
.list{
    padding-left: 5%;
}
li{
    margin-bottom: 1%;
}